.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 60px auto 0 114px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 20px 230px 0;
}

.u-section-1 .u-line-2 {
  width: 912px;
  height: 3px;
  margin: 38px auto 60px 114px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-2 {
    width: 680px;
    margin-right: 144px;
    margin-left: 116px;
  }

  .u-section-1 .u-line-2 {
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 114px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.5rem;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 180px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 16px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 220px;
  min-width: 88px;
  margin: 16px auto 60px;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}