{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block content %}
<br> {% block header %}
<p class="title is-1 is-spaced has-text-centered">About Me</p>
{% endblock %}
<div class="columns">
    <div class="column is-2">
        <aside class="menu">
            <p class="menu-label">About Me</p>
            <ul class="menu-list">
                <li><a href="#skills">Programming & Development Skills</a></li>
                <li><a href="#skills2">Libraries, Frameworks, and APIs</a></li>
            </ul>
            <p class="menu-label">Main Areas of Specialization</p>
            <ul class="menu-list">
                <li><a href="#specialties">Discord.py API</a></li>
                <li><a href="#specialties">Flask Web Framework</a></li>
                <li><a href="#specialties">Database Integration</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-10">
        <div id="skills">
            <p class="title is-3 is-spaced">Programmer Skill Set</p>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" id="skills1">
                        Programming & Development Skills
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="block">
                            Thanks to several years of high school Computer Science classes, I have covered the basics of syntax in the listed languages; with Python3 however, I have also taken online video lectures and courses to further bolster by grasp of the Python language,
                            as well as built familiarity with different IDEs and text editors. I also have a basic grasp of version control systems.
                        </div>
                        <div class="columns">
                            <div class="column">
                                <strong>Programming Languages</strong>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Python 3
                                                <progress class="progress is-success" value="75" max="100"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Java
                                                <progress class="progress is-link" value="40" max="100"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                HTML-CSS
                                                <progress class="progress is-danger" value="50" max="100"></progress>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Javascript
                                                <progress class="progress is-warning" value="25" max="100"></progress>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="column">
                                <strong>Coding Basics</strong>
                                <ul>
                                    <li>Object-oriented programming</li>
                                    <li>Algorithmic logic & thinking</li>
                                    <li>Basic data structures</li>
                                    <li>Data analysis & visualization</li>
                                    <li>Git usage (push/pull)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="information">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title" id="skills2">
                        Libraries, Frameworks, and APIs
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="block">
                            In my different Python projects, I was exposed to various modules and systems from different sources. I got to practice using them and reading through their documentations.
                        </div>
                        <div class="columns">
                            <div class="column">
                                <strong>Libraries</strong>
                                <ul>
                                    <li>NumPy</li>
                                    <li>Pandas</li>
                                    <li>Requests</li>
                                    <li>Unittest</li>
                                    <li>DateTime</li>
                                    <li>Matplotlib</li>
                                </ul>
                            </div>
                            <div class="column">
                                <strong>Frameworks</strong>
                                <ul>
                                    <li>Flask (Python)</li>
                                    <li>Django (Python)</li>
                                    <li>Bootstrap (CSS)</li>
                                    <li>Bulma (CSS)</li>
                                </ul>
                            </div>
                            <div class="column">
                                <strong>APIs</strong>
                                <ul>
                                    <li>Discord.py</li>
                                    <li>Spotipy</li>
                                    <li>PyMongo</li>
                                    <li>OpenWeather</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div id="specialties">
            <p class="title is-3 is-spaced" id="#specialties">Main Areas of Specialization</p>
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile">
                        <div class="tile is-parent">
                            <article class="tile is-child notification has-text-centered">
                                <p class="title has-text-centered has-text-link-dark">Discord.py</p>
                                <p>One of my biggest projects (currently still running) is the creation, development, and maintenance of a Discord.py bot for a gaming community server</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title has-text-centered has-text-warning-dark">Flask Web Framework</p>
                                <p>In order to build this resume website, I am currently using a Flask application running on a hosted server; I have also made a simple tasklist website with Flask</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification">
                                <p class="title has-text-centered has-text-primary-dark">Database Integration</p>
                                <p>For my projects involving data storage, I was able to get familiar with both SQL-based (MariaDB, SQLite) and NoSQL (MongoDB) structures for databases</p>
                                <div class="content">
                                    <!-- Content -->
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="general">
            <div class="card card-group">
                <header class="card-header">
                    <p class="card-header-title">
                        Component
                    </p>
                    <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Save</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>
    </div>
</div>

<br> {% endblock %}